# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
benv/
ienv/
aenv/
env/

# Ignore PyInstaller build artifacts
dist/
build/
*.spec

# Ignore IDE-specific files
.vscode/
.idea/